PROJECT_NAME="Maff Backend"
API_V1_STR="/api/v1"
SECRET_KEY="replace-this-with-a-very-secret-key"
ACCESS_TOKEN_EXPIRE_MINUTES=11520

POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=maff_db
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}/${POSTGRES_DB}

ONE_C_BASE_URL="https://api.eman.uz/api/odata/palisandr_fresh/"
ONE_C_API_TOKEN="your-1c-token-here"
